@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-white bg-black lowercase tracking-widest antialiased;
    overflow-x: hidden;
  }
}

@layer utilities {
  .glass-panel {
    @apply backdrop-blur-[25px] bg-white/10 border border-white/10;
  }

  /* Custom scrollbar for leaderboard list */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 193, 110, 0.5);
    /* hedera-green transparent */
  }
}